.tooltip {
  --bgc:  rgb(138, 138, 138);
  position: absolute;
  background-color: var(--bgc);
  border-radius: 5px;
  padding: 5px;
  text-align: center;
  font-size: 1rem;
  width: inherit;
  max-width: 100%;
  overflow-wrap: break-word;
  z-index: 4;
}

.arrow {
  height: 0;
  width: 0;
  border: 8px solid transparent;
  position: absolute;
  z-index: 10;
}

.left__arrow {
  border-right-color: var(--bgc);
  /* border-right-color:red; */
  left:-14px;
  border-radius: 5px;
  top:50%;
  transform: translateY(-50%);
}

.right__arrow {
  border-left-color: var(--bgc);
  /* border-left-color: red; */
  right: -14px;
  top: 50%;
  transform:translateY(-50%)
}

.top__arrow {
  border-bottom-color: var(--bgc);
  /* border-bottom-color: red; */
  top: -14px;
  left:50%;
  transform: translateX(-50%);
}

.bottom__arrow {
  border-top-color: var(--bgc);
  /* border-top-color: red; */
  bottom: -14px;
  left:50%;
  transform: translateX(-50%);
}